/*   --- root css --- */
:root {
  --font-size: 100%;
  --container: 90rem;
  --H1: 1.5rem;
  --H2: 1.25rem;
  --H3: 1.5rem;
  --H4: 1.25rem;
  --H5: 0.9375rem;
  --H6: 0.8125rem;
  --par: 1rem;
  --nav-link: 1.25rem;
  --clr-header: #2b2d31;
  --clr-nav-link:#e4e4e4;
  --clr-body: #f5f5f5;
  --clr-separator: #c1c4cb;
  --clr-banner-H2: #35393f;
}

/*   --- normalize css --- */
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
form,
aside,
input,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #505050;
}

/* --- typography --- */
@font-face {
  font-family: "Roboto";
  src: url(../assets/webfonts/Font-face/Roboto-Regular.woff2) format("woff2"), url(../assets/webfonts/Font-face/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/webfonts/Font-face/Roboto-Light.woff2) format("woff2"), url(../assets/webfonts/Font-face/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../assets/webfonts/Font-face/RobotoSlab-Light.woff2) format("woff2"), url(../assets/webfonts/Font-face/RobotoSlab-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../assets/webfonts/Font-face/RobotoSlab-Bold.woff2) format("woff2"), url(../assets/webfonts/Font-face/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: 700;
}
/*   --- general settings --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #505050;
}

/*  --- header --- */
.header {
  background-color: var(--clr-header);
  padding-inline: 1em;
  border-bottom: 1px solid #1d1f22;
}
.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.header a {
  color: var(--clr-nav-link);
  font-size: var(--nav-link);
  padding: 0.6em;
  border-radius: 0.25em;
  outline: 1px solid transparent;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
  position: relative;
}
.header a::after {
  position: absolute;
  content: "";
  bottom: 0.25em;
  left: 50%;
  right: 100%;
  height: 0.15em;
  border-radius: 0.25em;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
  opacity: 0;
}
.header a:focus::after, .header a:hover::after {
  background: #e46643;
  right: 0%;
  left: 0%;
  opacity: 1;
}

/* --- home main --- */
.dark {
  --clr-body: #1d1f22;
  --clr-separator: #2b2d31;
  --clr-banner-H2: #c1c4cb;
}

body {
  font-optical-sizing: auto;
  background-color: var(--clr-body);
  position: relative;
}

.active {
  color: #f39765;
  font-weight: 400;
}

.container {
  max-width: var(--container);
  margin-inline: auto;
}

.main {
  position: relative;
  height: calc(100svh - 3em);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .menu {
  background: rgba(17, 49, 73, 0.727);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(4, 19, 31, 0.745)), to(rgba(0, 0, 0, 0.748)));
  background: linear-gradient(0deg, rgba(4, 19, 31, 0.745) 0%, rgba(0, 0, 0, 0.748) 100%);
  padding: 0 1em;
  margin-top: -2.875em;
  border: 1px solid black;
  -webkit-transition: ease-in-out 0.2s background-color;
  transition: ease-in-out 0.2s background-color;
  color: #c1c4cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .menu .wrapper:first-of-type a {
  display: block;
}
.main .menu h1 {
  color: #ffffff;
  text-align: center;
  font-size: var(--H1);
  background-color: #e46643;
  letter-spacing: 0.3333333333em;
  border-radius: 0.2083333333em;
  padding-block: 0.0833333333em;
  margin-block: 0.25em 0.6666666667em;
  border: 1px solid black;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.524);
}
.main .menu .wrapper li a:not(.active) {
  color: #c1c4cb;
}
.main .menu h3 {
  font-weight: 300;
  font-size: var(--H3);
  margin-bottom: 0.8em;
  border-bottom: 1px solid;
}
.main .menu h4 {
  font-weight: 400;
  font-size: var(--H4);
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.2s color;
  transition: ease-in-out 0.2s color;
  border-radius: 0.25em;
}
.main .menu h4:hover, .main .menu h4:focus {
  color: #ffffff;
}
.main .menu li {
  padding-block: 0 1em;
}
.main .menu ul li:first-child {
  padding: 0;
}
.main .menu .theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 1.25em;
}
.main .menu .theme > * {
  width: 33%;
}
.main .menu .theme .light svg path {
  fill: #ffffff;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}
.main .menu .theme .switch__container {
  position: relative;
  background-color: #5a6069;
  min-height: 1.25em;
  border-radius: 1.5625em;
  margin-bottom: 0.1875em;
  cursor: pointer;
}
.main .menu .theme .switch__container::after {
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
  position: absolute;
  content: "";
  width: 1em;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.542);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);
  top: 1px;
  left: 5px;
}
.main .menu .off .dark svg path {
  fill: #ffffff;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}
.main .menu .off .light svg path {
  fill: #5a6069;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}
.main .menu .off .switch__container::after {
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
  position: absolute;
  content: "";
  width: 1em;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.542);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);
  top: 1px;
  left: calc(100% - 1.25em);
}

.ajax {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .banner {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: center;
}
.content .banner h2 {
  padding: 0.5em;
  font-size: var(--H2);
  color: var(--clr-banner-H2);
}
.content__wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125em;
  margin-top: 0.3125em;
}
.content__wrapper .zadani,
.content__wrapper .vysledek {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px -2px #c1c4cb;
          box-shadow: 0px 0px 5px -2px #c1c4cb;
  border-radius: 0.3125em;
}

/* mediaqueries */
/*# sourceMappingURL=home.css.map */
