@use '../tools/' as *;

// --------------------
/*   --- root css --- */
// --------------------

:root {
    --font-size: #{$font-size-100};
    --container: #{$cont__width--PC};
    // sizes
    --H1: #{$H1--PC};
    --H2: #{$H2--PC};
    --H3: #{$H3--PC};
    --H4: #{$H4--PC};
    --H5: #{$H5--PC};
    --H6: #{$H6--PC};
    --par: #{$par--PC};
    --nav-link: #{$nav__link--PC};

    // colors - default
    --clr-header: #{$clr__header};
    --clr-nav-link:#{$clr__nav--link};
    
    // colors - light theme
    --clr-body: #{$clr__body--light};
    --clr-separator: #{$separator--light};
    --clr-banner-H2: #{$clr__H2--light};
}
