@use './functions' as *;
// ---------------------
//   --- Variables ---
// ---------------------

$debug: false;

// --- color pallete ---
$clr10: #ffffff;
$clr11: #151619;
$clr12: #1d1f22;
$clr13: #2b2d31;
$clr14: #35393f;
$clr15: #5a6069;
$clr16: #7c8187;
$clr17: #e4e4e4;
$clr18: #f5f5f5;
$clr19: #e46643;
$clr20: #f39765;
$clr21: #979797;
$clr22: #c1c4cb;
$clr23: #f2f2f2;
$clr24: #0099ff;
$clr25: #151619ca;

$clr99: #505050;
// -----------------------

// font color
// text H1
$clr__H1--light: $clr10;
$clr__H1--dark: $clr10;

// text - banner H2
$clr__H2--light: $clr14;
$clr__H2--dark: $clr22;

// text H3
$clr__H3--light: $clr22;
$clr__H3--dark: $clr22;

// text H4
$clr__H4--light: $clr22;
$clr__H4--dark: $clr22;

// text par
$clr__par--light: $clr22;
$clr__par--dark: $clr22;

// menu colors
$clr__menu--H3: $clr16;

// navigation colors
$clr__nav--link: $clr17;
// -------------------------

// backround color
$clr__body--light: $clr18;
$clr__body--dark: $clr12;

$clr__header: $clr13;

$clr__menu:$clr25;

$clr__separ--light: $clr10;
$clr__separ--dark: $clr11;

$clr-bg__cont--light: $clr13;
$clr-bg__cont--dark: $clr13;

$clr__header: $clr13;
$clr__footer: $clr10;

$clr-bg-img: $clr99;
// -------------------------

$backroundGradient: (98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
// --------------------------------

// --- fonts ---
$font-family-Roboto__Slab: 'Roboto Slab', serif;
$font-family-Roboto: Roboto, serif;
$font-family-Commissioner: Commissioner, sans-serif;

$font-family-SourceSans: 'Source Sans 3', sans-serif;
$font-family-Outfit: Outfit, sans-serif;
$font-family-Figtree: Figtree, sans-serif;
$font-family-Inter: Inter, sans-serif;
$font-family-YoungSerif: 'Young Serif', serif;
$font-family-Montserrat: Montserrat, serif;
$font-family-Fraunces: Fraunces, serif;
$font-family-Poppins: Poppins, sans-serif;
$font-family-Rubik: Rubik, sans-serif;
$font-family-WorkSans: 'Work Sans', sans-serif;
$font-family-RedHatDisplay: 'Red hat display', sans-serif;
$font-family-Barlow-semiCon: 'Barlow_semi_condensed', sans-serif;

$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-systemUI: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// -------------------------------

// --- border-radius ---
$br-card: 8;
$br-btn: 29;
// ----------------------

// border color
$clr-br--light: $clr13;
$clr-br--dark: $clr13;

$separator--light: $clr22;
$separator--dark: $clr13;
// ----------------------

// shadow color
$clr-shdw__phone: $clr16;
$clr-shdw__header: $clr16;
// ----------------------

// transition
$tr-time: 0.2s;
//----------------------

// --- break points ---
$bp-Max: 900px;
$bp-Mid: 650px;
$bp-Min: 650px;
$bp-Mni: 250px;
// -------------------------------
// --- font-global ---
$font-size-110: 110%;
$font-size-100: 100%;
$font-size-90: 90%;
$font-size-80: 80%;
// --------------------------------
// font-sizes
$H1--Mob: rem(16, 0);
$H1--Tbt: rem(20, 0);
$H1--PC: rem(24, 0);

$H2--Mob: rem(16, 0);
$H2--Tbt: rem(16, 0);
$H2--PC: rem(20, 0);

$H3--Mob: rem(16, 0);
$H3--Tbt: rem(20, 0);
$H3--PC: rem(24, 0);

$H4--Mob: rem(16, 0);
$H4--Tbt: rem(16, 0);
$H4--PC: rem(20, 0);

$H5--Mob: rem(11, 0);
$H5--Tbt: rem(16, 0);
$H5--PC: rem(15, 0);

$H6--Mob: rem(11, 0);
$H6--Tbt: rem(16, 0);
$H6--PC: rem(13, 0);

$par--Mob: rem(14, 0);
$par--Tbt: rem(16, 0);
$par--PC: rem(16, 0);

$nav__link--Mob: rem(16, 0);
$nav__link--Tbt: rem(16, 0);
$nav__link--PC: rem(20, 0);

// container settings
$cont__width--Mob: rem(375, 0);
$cont__width--Tbt: rem(375, 0);
$cont__width--PC: rem(1440, 0);

$cont__padding__inln: 16;
$cont__padding__block: 16;
// --------------------------------

$pages: home, gallery, blog, contact, buttons;

// icon colors
$cards__color: (
    'clifford': $clr11,
    'walters': $clr12,
    'harmon': $clr10,
    'abrams': $clr13,
    'whittle': $clr10,
);

$btns__color: (
    'GetStarted': $clr11,
    'ContinueReading': $clr12,
    'FindOutMore': $clr12,
    'LearnMoreMain': $clr11,
    'comments': $clr11,
);
//--------------------------------
